<li class="item">
    <a href="{{link}}">
        {{#if image}}
            <div class="blurred"></div>
        {{/if}}
        <div class="image-container">
            {{#unless image}}
                <i class="fa fa-3x fa-user-circle"></i>
            {{/unless}}
        </div>
        <div class="artist-name ellipsis" title="{{name}}">{{name}}</div>
        <div class="attributes">
            <span title="Popularity"><i class="fa {{popularityIcon}}"></i>{{popularity}}</span>
            <span title="{{followersLabel}}"><i class="fa fa-users"></i>{{followersFormatted}}</span>
        </div>
    </a>
</li>
